.listing {
    background: white;
    border-radius: 5px;
    padding-bottom: 30px;
    color: #262626;
    border: 1px solid #eee;
}
.listing-heading {
  padding: 10px 20px 0 20px;
}
.listing-photo {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.listing-location {
  padding: 10px 20px 20px 20px;
}
/* .listing-location::before {
  content: url("../../../assets/placeholder.png");
} */

section.listing a {
  padding-left: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #262626;
}

section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}